{% extends 'base.html' %}
{% load i18n %}
{% load static %}
{% load cart_template_tags %}

{% block style %}
<style>

    body{
        overflow-x: hidden;
    }

    .contain > img,
    .contain > div {
        display: inline-block;
    }

    #box {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  max-width: 300px;
}

</style>
{% endblock %}

{% block content  %}
<div class="py-3 px-4">
    {% if object.get_total %}
    <div class="">
        <span class="" style="font-size: 18px; font-weight: 600;">{% trans "ALL" %}</span>
    </div>
   <a href="{% url 'core:moreinfo' %}"><button class="btn btn-lg w-100 shadow mt-3 mb-2 d-none" style="background-color: #fed813; font-size: 16px;" type="button">{% trans "More info" %} </button></a>
    {% endif %}
    <div class="d-inline">

    <div class="row">
        {% for order_item in object.items.all %}
        <div class="contain px-4 bg-light py-2 w-100 mb-2 mt-3">
            <img src="{{ order_item.item.photo }}" width="40px"  height="140px" style="display: inline;">
            <div class="align-top" style="padding-left: 20px;" id="box">
              <strong><div class="text-truncate">{{ order_item.item.title }}</div></strong>
              <div class="">{% trans "Flavor : Sparking" %} {{order_item.item.color}}</div>
              <strong><div class="">${{order_item.item.price}}</div></strong>
              <div class="text-success">{% trans "In Stock" %}</div>
              <div class="text-dark">{% trans "Quality" %} {{ order_item.quantity }}</div>
               <div class=" mb-3">
                   Status : <span class="d-none" style="color: #d41c32;">{% trans "Falied" %}</span><span class="text-info">{% trans "Pending" %}</span>
              </div> 
            </div>
        </div>
    </div>
        {% empty %} 
 <center><div class="text-center" style="max-width: 460px;">
            <div class="mb-4" style="font-weight: bold;">
                <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRllS5xtNEkqUQT5mY5HvLBeKfvwLqsrTl3Zw&usqp=CAU" height="80px" width="auto">
               <div class="my-3">{% trans "Your Amazon Cart is empty" %}</div>
              <a href="{% url 'core:home' %}"><button type="button" class="btn btn-lg w-100 mt-2 shadow rounded" style="background-color: #fed813; font-size: 16px; font-weight: bold;">{% trans "Continue shopping" %}</button></a>
            </div>
        </div> </center>       
        
        {% endfor %}
    </div>

    </div>
</div>



{% endblock %}